<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Teaching</h1>
    </div>
    <div class="col-md-8">
      <table>
        <tr>
          <th>Year</th>
          <th>Courses</th>
        </tr>
        <tr>
          <td>SS 24</td>
          <td>
            Practical Machine Learning for NLP
            <br />
            Modelling and Handling of Large Databases
          </td>
        </tr>
        <tr>
          <td>WS 23/24</td>
          <td>Deep Learning for Natural Language Processing</td>
        </tr>
        <tr>
          <td>SS 23</td>
          <td>Scientific Data Management</td>
        </tr>
        <tr>
          <td>WS 22/23</td>
          <td>Deep Learning for Natural Language Processing</td>
        </tr>
        <tr>
          <td>SS 22</td>
          <td>Introduction to Mathematics for Computer Scientists</td>
        </tr>
        <tr>
          <td>WS 21/22</td>
          <td>Seminar: Weakly Supervised Learning</td>
        </tr>
        <!-- Add more rows for other years and courses -->
      </table>
    </div>
  </div>
</div>